body {
}

header {
    margin: 0 auto;
    width: 80%;
    height: 70px;
    background-color: cornflowerblue;
    padding: 10px;
}

    header h1 {
        color: white;
        float: left;
    }

nav {
    float: right;
}

main {
    margin: 0 auto;
    width: 80%;
    background-color: lightblue;
    padding: 10px;
}

footer {
    margin: 0 auto;
    width: 80%;
    height: 40px;
    background-color: cornflowerblue;
    padding: 10px;
}

.alinhamentocentral {
    width: 50%;
    align-content: center;
    background-color: #6C7A89;
}

.login {
    margin: auto auto;
}
